target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# vi
*.swp

# macOS
.DS_Store

# vscode
workspace.code-workspace

# PadoGrid workspace
/.addonenv.sh
/initenv.sh
/setenv.sh
bundles
lib
plugins
run
.workspace
.cluster
*.xml0

# PadoGrid workspace directories
#apps
#clusters
docker
k8s
pods

# Bundle specifics
archive
log
lib
desktop
setenv.sh0
build
session
bundle-hazelcast-4n5-cluster-session
hazelcast-spi
ssl
results
tmp
templates
export
